{% load static %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  {% block css %}
  {% endblock %}
  <link href="{% static 'vendor/css/base.css' %}" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
  <title>{{ title }}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <i class="fa-solid fa-feather-pointed fa-beat" style="color: #63E6BE;"></i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
          {% if user.is_authenticated and user.pk %}
          <a class="nav-link" href="{% url 'users:user_profile' pk=user.pk %}">Profile</a>
          {% endif %}
          <a class="nav-link" href="#">About</a>
        </div>
      </div>
      <div class="navbar-nav">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
        {% if user.is_superuser or user.is_staff %}
        <a class="nav-link" href="{% url 'admin:index' %}">Admin Panel</a>
        {% endif %}
        {% else %}
        <a class="nav-link" href="{% url 'users:login' %}">Sign In</a>
        <a class="nav-link" href="{% url 'users:registration' %}">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <div class="container-fluid main-wall">
    <div class="row">
      {% block content %}
      <div class="col-12 col-md-8 col-lg-6 mx-auto">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/4346f688e5.js" crossorigin="anonymous"></script>
</body>
</html>
