{% extends 'posts/base.html' %}
{% load static %}


{% block css %}

{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center mt-5">
    <div class="card" style="width: 50%;">
        <div class="form-group">
            <div class="card-title nth-card-title">
                <h4>Update Post</h4>
            </div>
            <form method="POST" action="{% url 'posts:update_post' post_id=post.id%}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-end">
                    <a href="/" class="btn btn-outline-warning">Cancel</a>
                    <button type="submit" class="btn btn-outline-success">Update Post</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}